<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Loggle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Libs/honoka/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Libs/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script type="text/javascript" src="~/Libs/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Libs/syntaxhighlighter_3.0.83/styles/shCoreDefault.css" />
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    <script src="~/Scripts/marked.js"></script>
    <script src="~/Libs/highlight/highlight.pack.js"></script>
    <script src="~/Scripts/editor.js"></script>
    <link rel="stylesheet" href="~/Content/icono.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sarpanch:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script>
        document.getElementById("search-word").addEventListener("keydown", function (e) {
            if (!e) { var e = window.event; }
            e.preventDefault(); // sometimes useful

            // Enter is pressed
            if (e.keyCode == 13) {
                $('#search-form').submit(); return false;
            }
        }, false);
    </script>
</head>
<body>
    <div class="header-block">
        <div class="site-name"><a href="/" class="site-link">Loggle</a></div>
        <form id="search-form" action="/Article/Search">
            @Html.TextBox("word", "", new { @id = "search-word", @class = "search-box", @placeholder = "検索ワードを入力" })
        </form>
        <a href="/Article/New" class="new-article-btn">
            <p class="new-article-label"><i class="fa fa-sticky-note-o"></i> 新しい記事を書く</p>
        </a>
        <a href="/Article/Edit" class="new-article-btn" onclick="$('#article-form').submit(); return false;">
            <p class="new-article-label"><i class="fa fa-pencil-square-o"></i> 編集する</p>
        </a>
    </div>
    @RenderBody()
    <div class="footer-block">
        <div class="copyright">Copyright © 2016 UK All Rights Reserved.</div>
    </div>
</body>
</html>
