@using MarkdownSharp
@model Melog.Models.IndexViewModels

@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { id = "article-form" }))
{
    @Html.HiddenFor(m => m.ArticleView.ArticleId)
    <div class="content-block">
        <div class="title-block">
            <div class="title-format">@Model.ArticleView.Title</div>
            <div class="date-format">作成日：@Model.ArticleView.CreatedAt.ToString("yyyy/MM/dd")</div>
            @if (Model.ArticleView.UpdatedAt != null)
            {
                <div class="date-format">(最終更新日：@(Model.ArticleView.UpdatedAt?.ToString("yyyy/MM/dd")))</div>
            }
            @if (Model.ArticleView.Categories.Count > 0)
            {
                <div class="margin35"></div>
                <ul class="categories">
                    @for (var i = 0; i < Model.ArticleView.Categories.Count; i++)
                    {
                        <li class="category">@Model.ArticleView.Categories[i]</li>
                    }
                </ul>
                <div class="margin35"></div>
            }
        </div>
        <div class="main-block">
            <div class="left-area">
                @Html.Raw(new Markdown().Transform(Model.ArticleView.Description))
                <hr />
                <div class="comment-area">
                    @if (Model.CommentListView?.CommentList != null)
                    {
                        foreach (var comment in Model.CommentListView.CommentList)
                        {
                            <div class="comment-item">
                                @*<p class="comment-user">@comment.Item1</p>*@
                                <p class="comment-text">@comment.Item2</p>
                            </div>
                        }
                    }
                    @Html.TextAreaFor(m => m.CommentListView.NewComment, new { @id = "comment-box", @class = "form-control" })
                    <a href="#" onclick="PostComment(); return false;">投稿</a>
                </div>
            </div>
            <div class="right-area">
                <div class="past-articles">
                    @if (Model.ArchiveListView?.YearlyArchiveList != null)
                    {
                        <ul class="yearly-list">
                            @foreach (var yearlyArchive in Model.ArchiveListView.YearlyArchiveList)
                            {
                            <li class="list-item">
                                <div class="item-btn">
                                    <div class="year-btn">
                                        <div class="arrow-right"></div>
                                        <div class="year-label">@yearlyArchive.Year (@yearlyArchive.Count)</div>
                                    </div>
                                    <div class="jump-btn"></div>
                                </div>
                                @if (yearlyArchive.MonthlyArchiveList != null)
                                    {
                                <ul class="monthly-list">
                                    @foreach (var monthlyArchive in yearlyArchive.MonthlyArchiveList)
                                            {
                                        <li class="list-item">
                                            <div class="item-btn">
                                                <div class="month-btn">
                                                    <div class="arrow-right"></div>
                                                    <div class="month-label">@monthlyArchive.Month (@monthlyArchive.Count)</div>
                                                </div>
                                                <div class="jump-btn"></div>
                                            </div>
                                            @if (yearlyArchive.MonthlyArchiveList != null)
                                                    {
                                                <ul class="daily-list">
                                                    @foreach (var dailyArchive in monthlyArchive.DailyArchiveList)
                                                            {
                                                        <li class="list-item">
                                                            <div class="item-btn">
                                                                <div class="day-btn">
                                                                    <div class="arrow-right"></div>
                                                                    <div class="day-label">@dailyArchive.Day (@dailyArchive.Count)</div>
                                                                </div>
                                                                <div class="jump-btn"></div>
                                                            </div>
                                                            @if (dailyArchive.ArchivedArticleList != null)
                                                                    {
                                                                <ul class="archive-list">
                                                                    @foreach (var article in dailyArchive.ArchivedArticleList)
                                                                            {
                                                                        <li class="list-item">
                                                                            <a href="/Article/Archives?articleId=@article.ArticleId" class="archive-label">@article.Title</a>
                                                                        </li>
                                                                            }
                                                                </ul>
                                                                    }
                                                        </li>
                                                            }
                                                </ul>
                                                    }
                                        </li>
                                            }
                                </ul>
                                    }
                            </li>
                            }
                        </ul>
                    }
                </div>
                @if (Model.TagListView?.TagList != null)
                {
                    <ul class="categories">
                        @for (var i = 0; i < Model.TagListView.TagList.Count; i++)
                        {
                            <li class="category"><a href="#">@Model.TagListView.TagList[i]</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}

<script>
    function PostComment() {
        document.getElementById('article-form').action = '/Article/PostComment';
        document.getElementById('article-form').submit();
        document.getElementById('article-form').action = '/Article/Edit';
    }

    $(function () {
        $(".year-btn").on("click", function () {
            $(this).parent().next().toggleClass("active");
            if ($(this).children().first().hasClass("arrow-down")) {
                $(this).children().first().addClass("arrow-right");
                $(this).children().first().removeClass("arrow-down");
            } else {
                $(this).children().first().addClass("arrow-down");
                $(this).children().first().removeClass("arrow-right");
            }
        });
        $(".month-btn").on("click", function () {
            $(this).parent().next().toggleClass("active");
            if ($(this).children().first().hasClass("arrow-down")) {
                $(this).children().first().addClass("arrow-right");
                $(this).children().first().removeClass("arrow-down");
            } else {
                $(this).children().first().addClass("arrow-down");
                $(this).children().first().removeClass("arrow-right");
            }
        });
        $(".day-btn").on("click", function () {
            $(this).parent().next().toggleClass("active");
            if ($(this).children().first().hasClass("arrow-down")) {
                $(this).children().first().addClass("arrow-right");
                $(this).children().first().removeClass("arrow-down");
            } else {
                $(this).children().first().addClass("arrow-down");
                $(this).children().first().removeClass("arrow-right");
            }
        });
    });
</script>